html,
body {
	height: 100%;
}
body{
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
a

.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 1 15px;
}





